
/*FONT FACES*/
/*Roboto Regular*/
@font-face
{
    font-family: 'Roboto';
    src: 
        local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.ttf')
        format('truetype');
}
/*Roboto Bold*/
@font-face
{
    font-family: 'Roboto';
    src: 
        local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.ttf')
        format('truetype');
    font-weight: bold;
}
/*Robot Italic*/
@font-face
{
    font-family: 'Roboto';
    src: 
        local('Roboto-Italic'),
        url('../fonts/Roboto-Italic.ttf')
        format('truetype');
    font-style: italic;
}


/*HTML ELEMENT STYLING*/
body
{
    font-family: 'Roboto', sans-serif;
}
h2, h4
{
    font-weight: bold;
}

a:link
{
    text-decoration: none;
}

/*HEADER STYLING*/
.page-header
{
    overflow: auto;
    box-shadow: 0 8px 12px -12px black;
}

#title
{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#portrait-picture
{
    display: block;
    margin: 0 auto;
    width: 100px;
}

/*CONTENT STYLING*/
#description
{
    max-width: 65%;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 6px 12px -12px black;
    margin-bottom: 24px;
} 
#description-header, #description-body
{
    text-align: center;
    margin: 0 auto;
}
#description-body
{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: justify;
}

#contact-info
{
    margin-top: 24px;
}

.contact-link
{
    margin-right: 24px;
}

/*CONTENT STYLING*/
#content
{
    margin: 0 auto;
    text-align: justify;
    overflow: auto;
}

#info
{
    color: black;
}

.info-tech, .project-dates
{
    color: red;
}

#info:hover
{
    border: 1px solid blue;
}

.proj-img
{
    width: 300px;
    height: 200px;
}

.proj-img-sm
{
    width: 300px;
    height: 200px;
}