/*Roboto Regular*/
@font-face
{
    font-family: 'Roboto';
    src: 
        local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.ttf')
        format('truetype');
}
/*Robot Bold*/
@font-face
{
    font-family: 'Roboto';
    src: 
        local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.ttf')
        format('truetype');
    font-weight: bold;
}
/*Robot Italic*/
@font-face
{
    font-family: 'Roboto';
    src: 
        local('Roboto-Italic'),
        url('../fonts/Roboto-Italic.ttf')
        format('truetype');
    font-style: italic;
}
/*MorePerfectDOSVGA*/
@font-face
{
    font-family: 'MorePerfectDOSVGA';
    src: 
        local('MorePerfectDOSCGA'),
        url('../fonts/MorePerfectDOSVGA.ttf')
        format('truetype');
}

body
{
    font-family: 'MorePerfectDosVGA', 'Roboto', sans-serif;
}
h2
{
    font-weight: bold;
}

#title
{
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#portrait-picture
{
    display: block;
    margin: 0 auto;
    width: 100px;
}

#aboutme
{
    overflow: auto;
    box-shadow: 0 6px 12px -12px black;
}
#aboutme-header, #aboutme-body
{
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
#aboutme-body, #project-content
{
    text-align: justify;
}
#project-content
{
    max-width: 95%;
    margin: 0 auto;
}

.page-header
{
    overflow: auto;
    box-shadow: 0 8px 12px -12px black;
}

.row
{
    margin-left: 0px;
    margin-right: 0px;
}
