@import "../../variables";

$barHeight: 4px;

.scroll-progress {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: $backgroundColourLight;
  height: $barHeight;
}

.scroll-progress-bar {
  height: $barHeight;
  background: $highlightColour;
  width: 0%;
}
