@import "../../utils/variables";

.scroll-progress {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: $backgroundColour;
  height: 4px;
}

.scroll-progress-bar {
  height: 4px;
  background: $highlightColour;
  width: 0%;
}
