* {
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    background-color: #F5F5F5;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.whole-thing {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
}