* {
    font-family: 'Montserrat', sans-serif;
}

/*Make the body fill the viewport*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: black;
}

/*Holds everything within the webpage with a left to right flex container.*/

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

/*Contact info and name pane on the left hand side of the screen. Slightly smaller than
the projects pane on the right with a hidden scrollbar.*/

.main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-top: -200px;
    overflow: hidden;
    background: #f5f6fa;
}

.main>#title {
    padding: 10px;
    margin-top: -10px;
    text-align: center;
}

.main>#description {
    padding: 10px;
    margin-top: -10px;
    text-align: center;
}

.main>#links {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.main>#links img {
    width: 30px;
    height: 30px;
}

.main>#links>.link {
    display: flex;
}

.main>#links>.link>.text {
    align-self: center;
    margin-left: 10px;
}

/*Title of the page that only appears when the viewport cannot fit 
the entire .main pane on the screen.*/

#mobile-page-title {
    display: none;
    width: 100%;
    background: #f5f6fa;
    box-shadow: 0 -5px 5px -5px #333;
    transform: translateX(500px);
    animation: slide-in-left-x 0.8s ease forwards;
}

@keyframes slide-in-left-x {
    to {
        transform: translateX(0);
    }
}

#mobile-page-title h1 {
    text-align: center;
}

/*Footer containing contact information, will only appear when the viewport cannot fit
within the screen.*/

#footer {
    display: none;
    flex-direction: column;
    align-items: space-between;
    margin: 10px;
}

#footer>.footer-item {
    padding: 2px;
}

#footer>.footer-item>.footer-image img {
    max-width: 30px;
    max-height: 30px;
}

.main {
    transform: translateY(-500px);
    animation: slide-in-right 0.8s ease forwards;
}

@keyframes slide-in-right {
    to {
        transform: translateY(0);
    }
}