/*If the screen width goes below 420px make the project images go into a single
column layout.*/

@media (max-width: 420px) {
    .project-card>.images {
        display: block;
    }
    .project-card>.images>.image {
        width: 100%;
        height: 100%;
        margin: 0 0 10px 0;
    }
}

/*If the width of the screen goes below 925px, hide the left hand side panel and enable 
the title at the top of the page and the footer at the bottom of the page.*/

@media only screen and (max-width: 1215px) {
    #mobile-page-title {
        display: inline-block;
    }
    .main {
        display: none;
    }
    #footer {
        display: flex;
    }
}