/*Right hand side pane containing project cards with the ability to scroll.*/

.project {
    flex: 3;
    min-height: 100%;
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*Cards that sit inside of the right hand side pane and contain all of
a project's information and media.*/

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 5px -5px #333;
}

.project-card>#description {
    padding: 10px;
    text-align: justify;
    max-width: 900px;
}

/*Creates a flexbox grid whereby items in the grid are split into 2 columns.*/

.project-card>.images {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.project-card>.images>.image {
    flex: 1;
    width: 50%;
}

.project-card>.images>.image img {
    padding: 10px;
    width: 82%;
    max-width: 480;
    max-height: 340;
}

.project-card>.links {
    display: flex;
    justify-content: space-between;
}

.project-card>.links>.link {
    margin: 10px;
}

.project-card>.links>.link>a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card>.links>.link>a img {
    max-width: 30px;
    max-height: 30px;
}

.project {
    transform: translateX(500px);
    animation: slide-in-left 0.8s ease forwards;
}

@keyframes slide-in-left {
    to {
        transform: translateX(0);
    }
}

.tech-used {
    color: #F44336;
}

.gamejam-images>.image img {
    border: 1px solid black;
}