/*Component Container*/
.GithubIssueComments-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8em;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  .GithubIssueComments-container {
    font-size: 1em;
  }
}

/*Comment Container*/
.GithubIssueComments-comment {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*Comment Profile Avatar*/
.GithubIssueComments-comment-user-avatar {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 380px) {
  .GithubIssueComments-comment-user-avatar {
    display: none;
  }
}

@media (min-width: 480px) {
  .GithubIssueComments-comment-user-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

.GithubIssueComments-comment-user-avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

/*Comment Box*/
.GithubIssueComments-comment-box {
  border: 1px solid rgba(149, 157, 165, 0.5);
  border-radius: 3px;
  color: #24292e;
  width: 100%;
  overflow: hidden;
}

/*Comment Box Header*/
.GithubIssueComments-comment-box-header {
  border-bottom: 1px solid rgba(149, 157, 165, 0.5);
  background-color: #f6f8fa;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.GithubIssueComments-comment-box-header-isOwner {
  background-color: #f1f8ff;
}

.GithubIssueComments-comment-box-header-username {
  font-weight: bold;
}

.GithubIssueComments-comment-box-header-username > span {
  font-weight: normal;
  color: #586069;
}

/*Comment Box Body*/
.GithubIssueComments-comment-box-body {
  background-color: #ffffff;
  padding: 0.8rem;
}

.GithubIssueComments-comment-box-body > p {
  overflow-wrap: break-word;
}

.GithubIssueComments-comment-box-body > p > blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.GithubIssueComments-comment-box-body > p pre,
code {
  overflow-x: auto;
}

/*Comment Button*/
.GithubIssueComments-new-comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  min-height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #28a745;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

/*Loading Icon Animation*/
.GithubIssueComments-loading-icon {
  width: 40px;
  height: 40px;
  background-color: #6a737d;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-animation: sk-rotateplane 1.5s infinite ease-in-out;
  animation: sk-rotateplane 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*No Comments Found*/
.GithubIssueComments-no-comments-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/*Show Comments Button*/
.GithubIssueComments-show-comments-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 12rem;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid #586069;
  border-radius: 3px;
  background-color: #fff;
  color: #586069;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.GithubIssueComments-show-comments-button:hover {
  background-color: #586069;
  color: #fff;
}

/*Refresh Comments Button*/
.GithubIssueComments-refresh-comments-button {
  border: none;
  background: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #586069;
  text-decoration: underline;
  font-size: 0.8em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.GithubIssueComments-refresh-comments-button:hover {
  cursor: pointer;
}

.GithubIssueComments-refresh-comments-button:disabled {
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.2;
}

/*Pagination*/
.GithubIssueComments-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.GithubIssueComments-pagination-button {
  border: none;
  background: none;
  color: #586069;
  margin-bottom: 0.5rem;
}

.GithubIssueComments-pagination-button:hover {
  cursor: pointer;
}

.GithubIssueComments-pagination-button-active {
  text-decoration: underline;
  font-weight: bold;
}
