---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostList from "../../components/BlogPostList.svelte";
import HomeButton from "../../components/HomeButton.astro";

const blogposts = await getCollection("blog");
---

<style lang="scss">
  @use "../../styles/mixins";

  .container {
    @include mixins.centered;

    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 32px;
  }
</style>

<BaseLayout
  head={{
    title: "Josh Jackson - Blog",
    description:
      "Frontend developer occasionally writing blogposts about JavaScript and friends",
    image: "/assets/cover_image.png",
    permalink: "https://joshuaj.co.uk/blog",
  }}
>
  <HomeButton />

  <div class="container">
    <BlogPostList blogposts={blogposts} />
  </div>
</BaseLayout>
