---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostList from "../../components/BlogPostList.svelte";

const blogposts = await Astro.glob("./*.mdx");
---

<style lang="scss">
  @use "../../styles/mixins";

  .container {
    @include mixins.centered;
  }

  .section-heading {
    color: var(--colour-highlight);
    letter-spacing: 2px;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
</style>

<BaseLayout
  head={{
    title: "Blogposts - joshuaj.co.uk",
    description:
      "Frontend developer occasionally writing blogposts about JavaScript and friends",
    image: "/assets/cover_image.png",
    permalink: "https://joshuaj.co.uk/blog",
  }}
>
  <div class="container">
    <h2 class="section-heading">Blogposts</h2>
    <BlogPostList blogposts={blogposts} />
  </div>
</BaseLayout>
