@import "../base";
@import "../components/navigation";
@import "../components/blog-post-author";

.blog-post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: $fontColour;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 10px;

  width: 50%;

  @media (max-width: $brk-large) {
    width: 70%;
  }

  @media (max-width: $brk-medium) {
    width: 80%;
  }

  @media (max-width: $brk-small) {
    width: 95%;
  }

  p {
    font-size: 1.3em;
    line-height: 1.4;

    @media (max-width: $brk-small) {
      font-size: 1.1em;
    }
  }

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    width: 100%;
  }

  .sub-page-title {
    font-family: $bodyFontFamily;
    @media (max-width: $brk-small) {
      font-size: 2.5em;
    }
  }
}
