@import "../../utils/variables";

.blog-post-author {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-post-author-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;

  color: $fontColour;
  font-size: 1em;
  text-align: center;

  @media (min-width: $brk-medium) {
    font-size: 1.2em;
  }

  a {
    color: $highlightColour;
  }
}
