---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<BaseLayout
  head={{
    title: "Simple Budget",
    description: "Get support for Simple Budget",
    image: "/assets/cover_image.png",
    permalink: "https://joshuaj.co.uk/simplebudget/support",
  }}
>
  <ArticleLayout>
    <Fragment slot="title">Simple Budget</Fragment>

    <Fragment slot="subtitle">
      A simple budget tracking app. Track your spending and manage your finances
      in a mindful way. Take control of your money with an intuitive and
      straightforward approach to budgeting.
    </Fragment>

    <Fragment slot="content">
      <img
        src="/assets/simplebudget/icon.png"
        alt="Simple Budget App Icon"
        style="width: 100px; height: auto;"
      />

      <section>
        <h2>Get Support</h2>

        <p>
          If you have any questions, feedback, or are running into issues -
          please email me at

          <a href="mailto:contact@joshuaj.co.uk">contact@joshuaj.co.uk</a>
           and I'll do my best to help.
        </p>
      </section>
    </Fragment>
  </ArticleLayout>
</BaseLayout>

