$contentHorizontalPadding: 32px;

$breakpointSmall: 480px;
$breakpointMedium: 768px;
$breakpointLarge: 980px;

@mixin full-bleed {
  grid-column: 1 / -1;
  margin-left: -#{$contentHorizontalPadding};
  margin-right: -#{$contentHorizontalPadding};
}

.page__full-bleed {
  @include full-bleed;
}

.page__title {
  font-size: 1.563rem;

  @media (min-width: $breakpointSmall) {
    font-size: 2.813rem;
  }
}

.page__subtitle {
  margin-bottom: 35px;

  @media (min-width: $breakpointMedium) {
    margin-bottom: 70px;
  }
}

.page__container {
  display: grid;

  grid-template-columns:
    1fr min(85ch, calc(100% - ($contentHorizontalPadding * 2)))
    1fr;

  grid-column-gap: $contentHorizontalPadding;

  > * {
    grid-column: 2;
  }

  a {
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      color: var(--colour-highlight);
    }
  }
}

.page__content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.375rem;

    @media (min-width: $breakpointLarge) {
      font-size: 1.563rem;
    }
  }

  p {
    font-size: 1.125rem;

    @media (min-width: $breakpointMedium) {
      font-size: 1.25rem;
    }

    max-width: 100%;
    word-break: break-word;
    line-height: 30px;
  }

  ul,
  ol {
    list-style: none;
    padding-left: 0;
    max-width: 100%;

    li {
      display: flex;
      -webkit-box-align: baseline;
      align-items: baseline;
      line-height: 32px;
      margin-bottom: 25px;
      font-size: 1.125rem;

      @media (min-width: $breakpointMedium) {
        font-size: 1.25rem;
      }

      p {
        display: inline;
        font-size: inherit;
      }

      * {
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }

  ul {
    li {
      &::before {
        content: "꘎";
        padding-right: 16px;
        color: var(--colour-highlight);
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }

  ol {
    counter-reset: list-number;

    li {
      counter-increment: list-number;

      &::before {
        content: counter(list-number) ".";
        padding-right: 16px;
        color: var(--colour-highlight);
        font-size: 1.25rem;
        font-style: italic;
        font-weight: bold;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .video {
    @include full-bleed;
  }

  // Inline code blocks
  code {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .remark-highlight {
    @include full-bleed;

    font-weight: 500;
    margin-bottom: 20px;

    pre {
      border-radius: 0;

      code {
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  // "Highlighted" lines in code blocks
  .remark-highlight-code-line {
    width: 100%;
    background-color: var(--colour-code-highlight);
    display: block;
    padding-right: 1em;
    padding-left: 0.75em;
    margin-left: -1em;
    border-left: 0.25em solid var(--colour-code-highlight-sidebar);
  }

  .remark-code-title {
    @include full-bleed;

    background-color: var(--colour-code-title);
    color: var(--colour-text-body);
    padding-top: 0.5em;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: -8px;
    margin-top: 20px;

    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }
}

.page__footer {
  margin-top: 48px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-code-highlight: #1e2f3e;
    --colour-code-highlight-sidebar: #fbc531;
    --colour-code-title: #576574;
  }

  .github-issue-comments {
    --github-issue-comments-body-background-color: #34495e;
    --github-issue-comments-text-color: #fff;
    --github-issue-comments-header-background-color: #2b3d4f;
    --github-issue-comments-header-owner-background-color: #0a3d62;
    --github-issue-comments-meta-button-text-color: #bdc3c7;
    --github-issue-comments-border-color: #535c68;
    --github-issue-comments-header-commented-date-text-color: #bdc3c7;

    --github-issue-comments-blockquote-text-color: #bdc3c7;
    --github-issue-comments-blockquote-border-color: #95a5a6;

    --github-issue-comments-code-background-color: #223545;
    --github-issue-comments-code-text-color: #ffc600;

    --github-issue-comments-loading-icon-background-color: #dcdde1;

    --github-issue-comments-show-comments-button-background-color: #282c35;
    --github-issue-comments-show-comments-button-text-color: #dcdde1;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
      monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.35;

    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    background: #60a3bc;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    background: #60a3bc;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0;
    border: 0;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #223545;
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
      monospace;
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
    color: #c7ecee;
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    background: #223545;
  }

  /* Language before */
  .prism-show-language {
    background: #1f4662;
    border-top: 2px solid #ffc600;
    text-align: right;
    padding: 5px;
    color: white;
    font-size: 11px;
  }
  .prism-show-language + pre {
    margin-top: 0;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #0088ff;
  }

  .token.comment,
  .token.italic {
    font-style: italic;
  }

  .token.punctuation {
    color: #f8f8f2;
  }

  .namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #f92672;
  }

  .token.boolean,
  .token.number {
    color: #ff628c;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #3ad900;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }

  .token.atrule,
  .token.attr-value {
    color: #ffc600;
  }

  .token.keyword.keyword-function {
    color: #ffa5f3;
    background: #1d3c52;
    padding: 4px 2px;
  }

  .token.keyword {
    color: #ff9d00;
  }

  .token.operator {
    color: #ff9d00;
  }

  .token.function,
  .token.class-name {
    color: #ffc600;
  }

  .token.keyword.keyword-const,
  .token.keyword.keyword-var,
  .token.keyword.keyword-let {
    color: #ffc600;
  }

  .token.regex,
  .token.important {
    color: #fd971f;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.entity {
    cursor: help;
  }

  /* CSS requires Prism: CSS, CSS-Extras */

  code.language-css,
  .token.hexcode,
  .language-css .token.boolean,
  .language-css .token.number {
    color: #edf080;
  }

  .language-css .token.selector {
    color: #9effff;
  }

  .language-css .token.class,
  .language-css .token.selector .token.class,
  .language-css .token.attribute {
    color: #3ad900;
  }

  .language-css .token.property {
    color: #9df39f;
  }

  .token.pseudo-class {
    color: #ff9a1a;
  }

  /* HTML Markup */

  .language-markup .token.tag,
  .token.doctype {
    color: #9effff;
  }

  .language-markup .attr-name {
    color: #ffc600;
    font-style: italic;
  }
  .language-markup .attr-value {
    color: #3ad900;
  }

  /* Markdown */

  .language-markdown .title {
    background: #000;
    color: #fdc500;
  }

  .language-markdown .url {
    color: #3ad900;
  }

  .language-markdown .list.punctuation {
    color: #ff9a1a;
  }

  /* JSON */

  .language-json .property {
    color: #3ad900;
  }

  .language-json .operator {
    color: #f8f8f2;
  }

  /* SCSS */

  code.language-scss {
    color: #e68885;
  }

  .language-scss .property {
    color: #80ffbb;
  }

  .language-scss .keyword {
    color: #ff9a1a;
  }

  .language-scss .token.variable {
    color: #ccc;
  }

  .language-scss .hexcode {
    color: #f85b79;
  }

  .language-scss .function {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --colour-code-highlight: #feb;
    --colour-code-highlight-sidebar: #f99;
    --colour-code-title: #f5f6fa;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    color: #1e272e; /* base00 */
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
      monospace;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    background: #82ccdd;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    background: #82ccdd;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background-color: #fdf6e3; /* base3 */
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
      monospace;
    padding: 0.1em;
    border-radius: 0.3em;
    color: #1e272e;
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    background-color: #fdf6e3; /* base3 */
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #8ca6a6; /* base1 */
  }

  .token.punctuation {
    color: #586e75; /* base01 */
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #0094f0; /* blue */
  }

  .token.selector,
  .token.tag {
    color: #e64100;
  }

  .token.string,
  .token.char,
  .token.builtin,
  .token.url,
  .token.inserted {
    color: #00b368; /* cyan */
  }
  .token.attr-name {
    color: #a88c00;
  }

  .token.entity {
    color: #657b83; /* base00 */
    background: #eee8d5; /* base2 */
  }

  .token.operator,
  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #ff5792; /* green */
  }

  .token.function,
  .token.class-name {
    color: #00bdd6; /* yellow */
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #cb4b16; /* orange */
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
