/* IBM Plex Sans */
@font-face {
  font-family: "IBM Plex Sans";
  src: url(assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(assets/fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

/* IBM Plex Mono */

@font-face {
  font-family: "IBM Plex Mono";
  src: url(assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(assets/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(assets/fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-background: #282c35;
    --colour-text-heading: #fff;
    --colour-text-body: #dcdde1;
    --colour-highlight: #01cbcb;
    --box-background-gradient: linear-gradient(
      180deg,
      rgba(40, 44, 53, 0) 0%,
      rgba(45, 49, 58, 1) 66.39%
    );

    --box-border: rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --colour-background: #fff;
    --colour-text-heading: #2a2f36;
    --colour-text-body: #353b48;
    --colour-highlight: #128277;
    --box-background-gradient: linear-gradient(
      180deg,
      rgba(252, 252, 253, 0) 0%,
      #fcfcfd 66.39%
    );
    --box-border: rgba(12, 0, 32, 0.08);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "IBM Plex Sans", sans-serif;
}

body {
  font-weight: 500;
  background-color: var(--colour-background);
  color: var(--colour-text-body);
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  font-size: 1rem;

  padding-bottom: 124px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: var(--colour-text-heading);
}

a {
  color: var(--colour-text-body);
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: var(--colour-highlight);
}

main {
  margin-bottom: 120px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-code-highlight: #1e2f3e;
    --colour-code-highlight-sidebar: #fbc531;
    --colour-code-title: #576574;
  }

  .github-issue-comments {
    --github-issue-comments-body-background-color: #34495e;
    --github-issue-comments-text-color: #fff;
    --github-issue-comments-header-background-color: #2b3d4f;
    --github-issue-comments-header-owner-background-color: #0a3d62;
    --github-issue-comments-meta-button-text-color: #bdc3c7;
    --github-issue-comments-border-color: #535c68;
    --github-issue-comments-header-commented-date-text-color: #bdc3c7;

    --github-issue-comments-blockquote-text-color: #bdc3c7;
    --github-issue-comments-blockquote-border-color: #95a5a6;

    --github-issue-comments-code-background-color: #223545;
    --github-issue-comments-code-text-color: #ffc600;

    --github-issue-comments-loading-icon-background-color: #dcdde1;

    --github-issue-comments-show-comments-button-background-color: #282c35;
    --github-issue-comments-show-comments-button-text-color: #dcdde1;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.35;

    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    background: #60a3bc;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    background: #60a3bc;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0;
    border: 0;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #223545;
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
    color: #c7ecee;
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    background: #223545;
  }

  /* Language before */
  .prism-show-language {
    background: #1f4662;
    border-top: 2px solid #ffc600;
    text-align: right;
    padding: 5px;
    color: white;
    font-size: 11px;
  }
  .prism-show-language + pre {
    margin-top: 0;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #0088ff;
  }

  .token.comment,
  .token.italic {
    font-style: italic;
  }

  .token.punctuation {
    color: #f8f8f2;
  }

  .namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #f92672;
  }

  .token.boolean,
  .token.number {
    color: #ff628c;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #3ad900;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }

  .token.atrule,
  .token.attr-value {
    color: #ffc600;
  }

  .token.keyword.keyword-function {
    color: #ffa5f3;
    background: #1d3c52;
    padding: 4px 2px;
  }

  .token.keyword {
    color: #ff9d00;
  }

  .token.operator {
    color: #ff9d00;
  }

  .token.function,
  .token.class-name {
    color: #ffc600;
  }

  .token.keyword.keyword-const,
  .token.keyword.keyword-var,
  .token.keyword.keyword-let {
    color: #ffc600;
  }

  .token.regex,
  .token.important {
    color: #fd971f;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.entity {
    cursor: help;
  }

  /* CSS requires Prism: CSS, CSS-Extras */

  code.language-css,
  .token.hexcode,
  .language-css .token.boolean,
  .language-css .token.number {
    color: #edf080;
  }

  .language-css .token.selector {
    color: #9effff;
  }

  .language-css .token.class,
  .language-css .token.selector .token.class,
  .language-css .token.attribute {
    color: #3ad900;
  }

  .language-css .token.property {
    color: #9df39f;
  }

  .token.pseudo-class {
    color: #ff9a1a;
  }

  /* HTML Markup */

  .language-markup .token.tag,
  .token.doctype {
    color: #9effff;
  }

  .language-markup .attr-name {
    color: #ffc600;
    font-style: italic;
  }
  .language-markup .attr-value {
    color: #3ad900;
  }

  /* Markdown */

  .language-markdown .title {
    background: #000;
    color: #fdc500;
  }

  .language-markdown .url {
    color: #3ad900;
  }

  .language-markdown .list.punctuation {
    color: #ff9a1a;
  }

  /* JSON */

  .language-json .property {
    color: #3ad900;
  }

  .language-json .operator {
    color: #f8f8f2;
  }

  /* SCSS */

  code.language-scss {
    color: #e68885;
  }

  .language-scss .property {
    color: #80ffbb;
  }

  .language-scss .keyword {
    color: #ff9a1a;
  }

  .language-scss .token.variable {
    color: #ccc;
  }

  .language-scss .hexcode {
    color: #f85b79;
  }

  .language-scss .function {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --colour-code-highlight: #feb;
    --colour-code-highlight-sidebar: #f99;
    --colour-code-title: #f5f6fa;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    color: #1e272e; /* base00 */
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    background: #82ccdd;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    background: #82ccdd;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background-color: #fdf6e3; /* base3 */
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    font-family: "IBM Plex Mono", Consolas, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
    padding: 0.1em;
    border-radius: 0.3em;
    color: #1e272e;
  }

  /* Inline code (CUSTOM)*/
  :not(pre) > code {
    background-color: #fdf6e3; /* base3 */
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #8ca6a6; /* base1 */
  }

  .token.punctuation {
    color: #586e75; /* base01 */
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #0094f0; /* blue */
  }

  .token.selector,
  .token.tag {
    color: #e64100;
  }

  .token.string,
  .token.char,
  .token.builtin,
  .token.url,
  .token.inserted {
    color: #00b368; /* cyan */
  }
  .token.attr-name {
    color: #a88c00;
  }

  .token.entity {
    color: #657b83; /* base00 */
    background: #eee8d5; /* base2 */
  }

  .token.operator,
  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #ff5792; /* green */
  }

  .token.function,
  .token.class-name {
    color: #00bdd6; /* yellow */
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #cb4b16; /* orange */
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}