@import "../base";

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $bodyFontFamily;
  font-size: 1em;
  font-weight: 400;
  color: $fontColour;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;

  &.navigation-homepage {
    font-size: 0.25em;

    @media (max-width: $brk-medium) {
      font-size: 0.5em;
    }
  }

  a {
    margin-left: 10px;
    margin-right: 10px;

    @include hollow-button($fontColour, $fontColour, $backgroundColour);
  }
}

.navigation-top {
  justify-content: flex-start;
}
