@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Vidaloka');

@import '../variables';

body, html
{
    margin: 0;

    height: 100%;

    background: $backgroundColour;

    font-family: $bodyFontFamily;

    overflow-x: hidden;
}

.container
{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: slide-in 0.4s ease;
}

.name
{
    color: $foregroundColour;
    font-size: $defaultFontSize;

    font-family: $headerFontFamily;
    letter-spacing: $defaultLetterSpacing;

    @media (max-width: $brk-mobile)
    {
        font-size: $smallerFontSize;
    }
}

@keyframes slide-in 
{
    from
    {
        transform:translateX(300%);
    }
    to 
    {
        transform:translateX(0);
    }
}

.buttons
{
    display: flex;
    justify-content: space-between;

    width: 100%;
}
