@import '../variables';

.page
{
    display: flex;
    flex-direction: column;
}

.header
{
    animation: slide-in 0.4s ease;
}

@keyframes slide-in 
{
    from
    {
        transform:translateX(-150%);
    }
    to 
    {
        transform:translateX(0);
    }
}

.project
{
    margin-top: $spaceBetweenProjects / 2;
    margin-bottom: $spaceBetweenProjects / 2;

    display: flex;

    justify-content: center;

    
    animation: slide-in 0.4s ease;
}