---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectList from "../components/ProjectList.svelte";
import OtherList from "../components/OtherList.svelte";
import SubNavigation from "../components/SubNavigation.astro";

const projects = [
  {
    name: "Simple Mindmap",
    description:
      "A super simple free online mind mapping tool with no signup required. Created as all the other tools were either too clunky or required a signup.",
    technologies: ["react", "html", "css"],
    demoLink: "https://www.simplemindmap.com/",
  },
  {
    name: "Isolation Run",
    description:
      "Use your phone's accelerometer to only play a video whilst you're running.",
    technologies: ["svelte", "nodejs", "websockets"],
    githubLink: "https://github.com/Pjaerr/Isolation-Run",
    demoLink: "https://isolation-run.onrender.com/",
  },
  {
    name: "Pub Name Generator",
    description: "Generates random pub names using a local words list",
    technologies: ["html", "javascript", "css"],
    githubLink: "https://github.com/Pjaerr/Pub-Name-Generator",
    demoLink: "https://pjaerr.github.io/Pub-Name-Generator/",
  },
  {
    name: "Svelte Github Issue Comments Component",
    description:
      "A Svelte component that lets you use a github issue as a no-backend comments system for a static site/blog",
    technologies: ["svelte", "typescript"],
    githubLink:
      "https://github.com/Pjaerr/svelte-github-issue-comments-component",
  },
  {
    name: "Findr",
    description:
      "A tinder-like swiping application but for things to do nearby.",
    technologies: ["react", "nodejs", "express"],
    githubLink: "https://github.com/Pjaerr/Findr",
    demoLink: "https://findr-rebuild.netlify.app/",
  },
];
---

<style lang="scss">
  @use "../styles/mixins";

  .container {
    @include mixins.centered;

    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 32px;
  }

  hr {
    width: 100%;
    opacity: 0.25;
  }
</style>

<BaseLayout
  head={{
    title: "Projects - joshuaj.co.uk",
    description:
      "Frontend developer occasionally writing blogposts about JavaScript and friends",
    image: "/assets/cover_image.png",
    permalink: "https://joshuaj.co.uk/projects",
  }}
>
  <div class="container">
    <SubNavigation activeRoute="/projects" />

    <div>
      <ProjectList projects={projects} />
    </div>

    <hr />

    <div>
      <OtherList />
    </div>
  </div>
</BaseLayout>
