//Font Familys
$headingFontFamily: "Pacifico", sans-serif;
$bodyFontFamily: "Roboto", sans-serif;

//Colours
$backgroundColour: #fff;
$fontColour: #353b48;
$highlightColour: #01a3a4;

//CSS Animations
$hoverAnimationSpeed: 0.25s;

//Breakpoints
$brk-large: 992px;
$brk-medium: 768px;
$brk-small: 480px;
