@import "../../utils/mixins";
@import "../../utils/variables";

$largeHeadingFontSize: 4em;
$mediumHeadingFontSize: 3em;
$smallHeadingFontSize: 2em;

$desktopIconSize: 38px;
$mobileIconSize: 28px;
$iconSpacing: 10px;
$spaceBetweenIconAndHeader: -80px;

.header-content {
  font-family: $headingFontFamily;
  font-size: $largeHeadingFontSize;
  color: $fontColour;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: $brk-large) {
    font-size: $mediumHeadingFontSize;
  }
  @media (max-width: $brk-medium) {
    font-size: $smallHeadingFontSize;
  }
}

.header-content-title::selection {
  color: $backgroundColour;
  background-color: $fontColour;
}

.header-content-icons {
  margin-top: $spaceBetweenIconAndHeader;

  @media (max-width: $brk-medium) {
    margin-top: initial;
  }
}

.header-content-icons-icon {
  text-decoration: none;

  margin-left: $iconSpacing;
  margin-right: $iconSpacing;

  svg {
    @include svg-icon;
    transition: fill $hoverAnimationSpeed ease;
  }

  svg:hover {
    fill: $highlightColour;
  }
}

$headingLinksSpacing: 40px;

.header-content-links {
  display: flex;
  justify-content: space-between;

  padding-left: $headingLinksSpacing;
  padding-right: $headingLinksSpacing;
  margin-top: $headingLinksSpacing;

  a {
    font-family: $bodyFontFamily;
    font-size: 0.35em;
    @include hollow-button($fontColour, $fontColour, $backgroundColour);
    border: 2px solid $fontColour;
  }
}
