@import "./variables";

@mixin svg-icon {
  fill: $fontColour;
  width: $desktopIconSize;
  height: $desktopIconSize;

  @media (max-width: $brk-medium) {
    width: $mobileIconSize;
    height: $mobileIconSize;
  }
}

@mixin hollow-button($colour, $textColour, $textColourOnHover) {
  border: 1px solid $colour;
  border-radius: 2px;

  padding: 10px 20px;

  @media (max-width: $brk-small) {
    padding: 7px 15px;
  }

  text-decoration: none;
  color: $textColour;

  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $colour;
    color: $textColourOnHover;
  }
}

@mixin gradient($startColour, $endColour) {
  background: $endColour;
  background: -webkit-linear-gradient(to right, $startColour, $endColour);
  background: linear-gradient(to right, $startColour, $endColour);
}
