//Font Familys
$headingFontFamily: "Pacifico", "Roboto", sans-serif;
$bodyFontFamily: "Roboto", sans-serif;

//Font Sizes
$blogTitleFontSizeLarge: 3em;
$blogTitleFontSizeSmall: 2.2em;
$blogParagraphFontSizeLarge: 1.3em;
$blogParagraphFontSizeSmall: 1.1em;

//Colours
$backgroundColour: #fff;
$fontColour: #353b48;
$highlightColour: #01a3a4;

//CSS Animations
$hoverAnimationSpeed: 0.25s;

//Breakpoints
$brk-large: 992px;
$brk-medium: 768px;
$brk-small: 480px;
