$backgroundColour: #2C3643;
$foregroundColour: #FEEF6D;

$defaultFontSize: 80px;
$smallerFontSize: 48px;

$defaultLetterSpacing: 1px;

$headerFontFamily: 'Kaushan Script', sans-serif;
$bodyFontFamily: 'Vidaloka', sans-serif;

$defaultButtonWidth: 150px;
$smallerButtonWidth: 125px;
$defaultButtonHeight: 40px;

$spaceBetweenProjects: 40px;

$hoverAnimationSpeed: 0.3s;


// ! Media Query Variables
$brk-mobile: 568px; // Technically iPhone 5S Landscape
$brk-tablet: 768px; // Technically iPad portrait
$brk-desktop: 1366px; // Technically iPad Pro landscape