//Font Familys
$fontFamily: "IBM Plex Sans", sans-serif;

//Light Mode Colours
$backgroundColourLight: #fff;
$headingFontColourLight: #2a2f36;
$bodyFontColourLight: #353b48;

//Dark Mode Colours
$backgroundColourDark: #282c35;
$headingFontColourDark: #fff;
$bodyFontColourDark: #dcdde1;

//General Colours
$highlightColour: #01a3a4;
