//Extensions
%padded
{
    margin-left: 5px;
    margin-right: 5px;
}

#header //Container for all of the other elements that make up the header.
{
    display: flex;
    flex-direction: column;

    min-height: 100%;

    background: $headerBackgroundColour;
}

#name //Container for the <h1> tags that make up the name.
{
    margin-top: 20px;
}

#name-text
{
    @extend %padded;
    @extend %headingText;

    line-height: 140%;
}

#first-name
{
    
}
#second-name
{
   
}


@-moz-keyframes slide-in 
{
    from {transform:translateX(-500px)}
    to {transform:translateX(0px);}
}

@-webkit-keyframes slide-in 
{
    from {transform:translateX(-500px)}
    to {transform:translateX(0px);}
}

@keyframes slide-in 
{
    from {transform:translateX(-500px)}
    to {transform:translateX(0px);}
}

#about-me
{
    @extend %bodyText;

    max-width: 100%;
}

#about-me-text
    {
        @extend %padded;
    }

#navigation-buttons
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a
    {
        @extend %padded;
        @extend %bodyText;

        line-height: 300%;

        margin-top: 20px;

        text-decoration: none;
        font-weight: bold;

        color: $textColour;
    }
}


/*Media Queries*/

@media (min-width: 500px)
{
    #name
    {
        margin-left: 0px;
    }
}
@media (min-width: 600px)
{
    %padded
    {
        margin-left: 20px;
    }

    #about-me
    {
        max-width: 80%;
    }
}

@media (min-width: 900px)
{
    %padded
    {
        margin-left: 60px;
    }
}

@media (min-width: 1050px)
{
    #about-me
    {
        max-width: 70%;
    }
}

.next-page-btn
{
    display: flex;
    justify-content: center;

    width: 100%;

    img
    {
        width: 26px;
        height: 26px;
    }
    
    position: absolute;
    bottom: 15px;

    animation: up-down 1s ease-in alternate infinite;
}

@media (min-width: 800px)
{
    .next-page-btn
    {
        img
        {
            width: 32px;
            height: 32px;
        }
    }
}

/*Slight up->down movement using transform:translate()*/
@-moz-keyframes up-down 
{
    from {transform:translateY(0px)}
    to {transform:translateY(5px);}
}

@-webkit-keyframes up-down 
{
    from {transform:translateY(0px)}
    to {transform:translateY(5px);}
}

@keyframes up-down 
{
    from {transform:translateY(0px)}
    to {transform:translateY(5px);}
}

