//Extensions
%padded
{
    margin-left: 5px;
    margin-right: 5px;
}

#header //Container for all of the other elements that make up the header.
{
    display: flex;
    flex-direction: column;

    min-height: 100%;

    background: $headerBackgroundColour;
}
 
#name-text
{
    @extend %padded;
    @extend %headingText;

    line-height: 120%;

    h1
    {
        display: table;

        padding-top: 10px;
        padding-bottom: 10px;

        background: $textColour;
        color: $headerBackgroundColour;
    }
}


@-moz-keyframes slide-in 
{
    from {transform:translateX(-500px)}
    to {transform:translateX(0px);}
}

@-webkit-keyframes slide-in 
{
    from {transform:translateX(-500px)}
    to {transform:translateX(0px);}
}

@keyframes slide-in 
{
    from {transform:translateX(-500px)}
    to {transform:translateX(0px);}
}

#about-me
{
    @extend %bodyText;

    max-width: 100%;
}

#about-me-text
    {
        @extend %padded;
    }

#navigation-buttons
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a
    {
        @extend %padded;
        @extend %bodyText;

        line-height: 300%;

        text-decoration: none;
        font-weight: bold;

        color: $textColour;
    }
}


/*Media Queries*/

@media (min-width: 500px)
{
    #name
    {
        margin-left: 0px;
    }
}
@media (min-width: 600px)
{
    %padded
    {
        margin-left: 20px;
    }

    #about-me
    {
        max-width: 80%;
    }
}

@media (min-width: 900px)
{
    %padded
    {
        margin-left: 60px;
    }
}

@media (min-width: 1050px)
{
    #about-me
    {
        max-width: 70%;
    }
}