//Variables
$projectBackgroundColour: #ebfcf5;

/*The default project attributes to be inherited by an entire project <article>*/
%project
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 8vw;
    padding-top: 8vw;

    background: $projectBackgroundColour;
}

.content
{
    display: flex;
    flex-direction: column;
}

/*Image on the left*/
.project
{
    @extend %project;
}

/*Image on the right*/
.project-reversed
{
    @extend %project;
}

/*
    An image that scales to its container automatically and has a material-design card
    style box shadow.
*/
.project-image
{
    margin: 8px;

    max-width: 80%;

    .project-image-img
    {
        width: 100%;
        height: auto;

        box-shadow: 0 2.5px 5px rgba(0,0,0,0.19), -2px 1px 6px rgba(0,0,0,0.23);
    }
}

/*
    When the screen reaches the given width, switch to a row over column layout and
    increase the space between projects to give more room to breath.
*/
@media (min-width: 1025px)
{
    %project
    {
        padding-bottom: 6vw;
        padding-top: 6vw;
    }
    .project
    {
        flex-direction: row;
    }
    .project-reversed
    {
        flex-direction: row-reverse;
    }

    .project-image-img
    {
        max-width: 100vh;
    }
}

/*Holds everything but the image and displays them in a column layout.*/
.project-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    //height: 100%;
}

.project-name
{
    @extend %projectHeadingText;

    margin-top: -30px;

    text-align: center;
}

.project-description
{
    @extend %bodyText;

    margin-right: 15px;
    margin-left: 15px;
    margin-top: -30px;

    max-width: 100%;

    word-wrap: break-word; //Mostly avoid weird word wrapping when text is justified.
}

/*The section listing the tech/languages the project was made with.*/
.made-with
{
    font-weight: bolder;
    text-decoration: underline;
    margin-top: -20px;
}

.project-buttons
{
    display: flex;
    justify-content: space-between;
}

.button
    {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;

        .button-link
        {
           
            text-decoration: none;
            color: $textColour;
            font-weight: bold;
            font-style: italic;

            display: flex;
        }

        .button-text
        {
            margin-left: 4px;
        }
    }