#project-pub-name-generator
{
    background-color: #0097E6;
}

#project-findr
{
    background-color: #8C7AE6;
}

#project-productivity-timer
{
    background-color: #E1B12C;
}

#project-game-jam-games
{
    background-color: #44BD32;
}