
#contact-info
{
    padding-bottom: 2vh;
    padding-top: 2vh;
    background: $headerBackgroundColour;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-links
{
    display: flex;
    margin-bottom: 10px;
}