@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:400i,700");
.header {
  min-height: 100%;
  font-family: "Pacifico", sans-serif;
  font-size: 4em;
  color: #353B48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 992px) {
  .header {
    font-size: 3em;
  }
}
@media (max-width: 768px) {
  .header {
    font-size: 2em;
  }
}

.header-content-title::selection {
  color: #F1F2F6;
  background-color: #353B48;
}

.header-content-icons {
  margin-top: -80px;
}
@media (max-width: 768px) {
  .header-content-icons {
    margin-top: initial;
  }
}

.header-content-icons-icon {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.header-content-icons-icon svg {
  fill: #353B48;
  width: 38px;
  height: 38px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@media (max-width: 768px) {
  .header-content-icons-icon svg {
    width: 28px;
    height: 28px;
  }
}
.header-content-icons-icon svg:hover {
  opacity: 0.5;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
}
.header-down-arrow {
  animation: MoveUpDown 2s ease-in-out infinite;
  position: absolute;
  bottom: 10px;
}
.header-down-arrow svg {
  fill: #353B48;
  width: 38px;
  height: 38px;
}
@media (max-width: 768px) {
  .header-down-arrow svg {
    width: 28px;
    height: 28px;
  }
}

#project-pub-name-generator {
  background-color: #0097E6;
}

#project-findr {
  background-color: #8C7AE6;
}

#project-productivity-timer {
  background-color: #E1B12C;
}

#project-game-jam-games {
  background-color: #44BD32;
}

.body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
}

.project {
  box-shadow: 0 4.375em 7.5em rgba(0, 0, 0, 0.33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F1F2F6;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 960px;
  height: 350px;
}
@media (max-width: 480px) {
  .project {
    margin-left: 0;
    margin-right: 0;
  }
}

.project-title {
  margin: 30px;
  font-size: 3em;
}
@media (max-width: 480px) {
  .project-title {
    margin: 15px;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: 2.5em;
  }
}

.project-description {
  max-width: 60%;
}
@media (max-width: 768px) {
  .project-description {
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .project-description {
    max-width: 100%;
  }
}

.project-description, .project-buttons {
  margin: 30px;
  font-size: 1em;
}
@media (max-width: 480px) {
  .project-description, .project-buttons {
    margin: 15px;
  }
}

.project-button {
  border: 1px solid #F1F2F6;
  border-radius: 2px;
  padding: 10px 20px;
  text-decoration: none;
  color: #F1F2F6;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 20px;
}
@media (max-width: 480px) {
  .project-button {
    padding: 7px 15px;
  }
}
.project-button:hover {
  background: #F1F2F6;
  color: #353B48;
}
@media (max-width: 480px) {
  .project-button {
    margin-right: 5px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #F1F2F6;
}

/*# sourceMappingURL=styles/main.css.map */
